.wrapper 
  .wrapper__header
    .wrapper__header__box
      .wrapper__header__box__left Homework App
      .wrapper__header__box__right
        .wrapper__header__box__right__username らいが君
        .wrapper__header__box__right__logout ログアウト
      

  .wrapper__main
    .wrapper__main__contents
      .wrapper__main__contents__content
        .wrapper__main__contents__content__text 難しい！
        .wrapper__main__contents__content__rightbox
          .wrapper__main__contents__content__rightbox__name らいが君
          .wrapper__main__contents__content__rightbox__date 2020/02/08/22:20:22
      .wrapper__main__contents__content
        .wrapper__main__contents__content__text 難しい！
        .wrapper__main__contents__content__rightbox
          .wrapper__main__contents__content__rightbox__name らいが君
          .wrapper__main__contents__content__rightbox__date 2020/02/08/22:20:22  
      .wrapper__main__contents__content
        .wrapper__main__contents__content__text 難しい！
        .wrapper__main__contents__content__rightbox
          .wrapper__main__contents__content__rightbox__name らいが君
          .wrapper__main__contents__content__rightbox__date 2020/02/08/22:20:22
      .wrapper__main__contents__content
        .wrapper__main__contents__content__text 難しい！
        .wrapper__main__contents__content__rightbox
          .wrapper__main__contents__content__rightbox__name らいが君
          .wrapper__main__contents__content__rightbox__date 2020/02/08/22:20:22


    .wrapper__main__form
      .wrapper__main__form__message
        .wrapper__main__form__message__box
          %input{placeholder: "文字を入力 (25文字以内)", class: "wrapper__main__form__message__box__textarea"}
        %input.wrapper__main__form__message__submitbtn{type: 'submit', value: '投稿する'}

  .wrapper__footer Homework App 2020